<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="eu.opentransportnet.cityreport"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo_birmingham"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name="eu.opentransportnet.cityreport.activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="localhost"
                    android:path="/callback"
                    android:port="3000"
                    android:scheme="http"/>
            </intent-filter>
        </activity>
        <activity
            android:name="eu.opentransportnet.cityreport.activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name="eu.opentransportnet.cityreport.activities.DisclaimerActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name="eu.opentransportnet.cityreport.activities.ChangeLangActivity"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name="eu.opentransportnet.cityreport.activities.ReportInfoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>
        <activity
            android:name="eu.opentransportnet.cityreport.activities.ReportDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustPan">

        </activity>
    </application>

</manifest>
